.fire {
  padding-top: 160px;
  position: relative;
  overflow: hidden;

  @include mw($tb) {
    padding-top: 60px;
  }

  &__bg {
    position: absolute;
    pointer-events: none;

    &--right {
      top: -238px;
      right: 0;
    }

    &--bottom {
      top: 238px;
      right: 10%;
    }

    &--3 {
      top: 75%;
      left: -30%;
    }
  }


}
