.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  &__inner {
    padding-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 145px;
    height: 46px;
  }

  &__user {}
}

.container {

  &--header {}
}

.logo {
  display: block;

  &__img {
    object-fit: cover;
  }
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: $white;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.12) 92.19%);
  box-shadow: inset 0px 2.60282px 2.60282px rgba(255, 255, 255, 0.08);
  transition: 0.3s;

  @include hocus() {
    opacity: 0.7;
  }
}

.private {
  padding: 18px 25px 18px 26px;

  @include mw($tb) {
    padding: 0;
    background-image: none;
    box-shadow: none;
  }


  &__text {

    @include mw($tb) {
      display: none;
    }
  }

  &__icon {
    fill: $white;
    display: none;

    @include mw($tb) {
      display: block;
    }
  }

  &__svg {}
}
