.modal {
  width: 100%;
  min-height: 100%;
  max-width: none;
  border-radius: 0;
  background: #181820;
  box-shadow: none;
  padding: 0;
  background-image: url("/img/modal-bg.png");
  background-size: cover;

  &--registration {}

  &__wrapper {
    padding-top: 104px;
    padding-bottom: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;

    @include mw($tb) {
      flex-wrap: wrap;

    }
  }

  &__logo {}

  &__title {
    font-weight: 600;
    @include font-size(42px);
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #EFF6FF;

    @include mw($tb) {
      width: 100%;
      order: 1;
      margin-top: 20px;
      text-align: center;
    }
  }

  &__link-close {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #7A838D;
    border-radius: 8px;
    background-image: url("/img/svg/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;

    @include hocus() {
      opacity: 0.5;
    }

  }

  &__content {
    background: #21212B;
    border-radius: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include mw($tb) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}

.logo {

  &__img {}
}

.tabs-block {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    @include mw($tb) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  }

  &__content {}
}

.tabs-header {

  &__title {
    font-weight: 600;
    @include font-size(42px);
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #EFF6FF;
    max-width: 203px;

    @include mw($tb) {
      margin-bottom: 20px;
      max-width: none;
    }


  }

  &__list {
    display: flex;
    width: 73%;
    border-bottom: none;

    @include mw($tb) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-grow: 1;

    @include mw($tb) {
      flex-grow: 0;
    }
  }

  &__link {
    font-weight: 600;
    @include font-size(20px);
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #EFF6FF;
    border: 1px solid #373741;
    border-radius: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.table {

  &__header {}
}

.level {
  color: #7A838D;

  &__head {
    width: 46%;
  }

  &__investment {
    width: 27%;
    word-wrap: break-word;
  }

  &__pay {
    width: 27%;
  }

  &__content {
    font-weight: 600;
    @include font-size(42px);
    line-height: 105%;
    letter-spacing: -0.04em;

    .level__pay {
      color: #EFF6FF;
    }

    .level__investment {
      color: #EFF6FF;
    }


  }
}

.table-row {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #373741;

  &__item {}
}

.table-header {

  &__item {
    @include font-size(20px);
    line-height: 23px;
  }
}

.blocker {
  z-index: 6;
  padding: 0;
  background: #181820;
}

.blocker:before {
  // content: none;
}

[role=tab][aria-selected=true] {
  background-color: #272732;
  border: 1px solid #373741;
}


@media (min-width: 30em) {
  [role=tab][aria-selected=true] {
    background-color: #272732;
    border: 1px solid #373741;
  }

  [role=tab]:hover:not([aria-selected=true]) {
    background-color: transparent;
    border: 1px solid #373741;
  }
}

.modal a.close-modal {
  display: none;
}
