.left-content {

  &__structure {}
}

.structure {

  &__title {
    margin-bottom: 40px;
  }

  &__wrap {}

  &__list {}

  &__item {

    &+li {
      margin-top: 4px;
    }


    &--header {
      font-size: 16px;
      line-height: 19px;
      color: #7A838D;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include padding-left(30px);
      @include padding-right(15px);

    }
  }

  &__point {

    &--header {}

    &--id {
      width: 15%;
    }

    &--name {
      width: 40%;
    }

    &--turn {
      width: 25%;
    }

    &--date {
      width: 20%;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #EFF6FF;
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 29px;
    background: #21212B;
    border-radius: 8px;
    @include padding-left(30px);
    @include padding-right(15px);
    position: relative;

    &::after {
      display: block;
      width: 6px;
      height: 12px;
      content: "";
      background-image: url(/img/svg/arr-structure.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
