.office-footer {
  margin-top: auto;



  & .container {
    max-width: none;
    @include margin-left(4rem);
    @include margin-right(4rem);

    @include mw(1440) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
