.office-body {
  display: flex;
  flex-direction: row;

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FC;
  }
  &__left {
    flex-shrink: 0;
  }
}
