.body-asside {
  background: #242636;
  width: 228px;

  @include mw(1000) {
    display: none;
  }
  &__box {
    display: block;
    width: 228px;
    position: fixed;
    left: 0;
    top: 0;
  }
  &__logo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
.asside-nav {
  &__link {
    display: block;
    padding-left: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;

    &::after {
      position: absolute;
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
      background: #9374F0;
    }
    &:hover {
      &::after {
        content: "";
      }
    }
  }
  &__link--active {
    &::after {
      content: "";
    }
  }
}
