.my-program {
  padding-top: 40px;
  @include font("Gilroy");



  &__title {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mw(1000px) {
      flex-direction: column;
    }


  }

  &__left {
    max-width: 680px;
    flex-grow: 1;

    @include mw(1000px) {
      max-width: none;
      width: 100%;
    }
  }

  &__right {
    max-width: 340px;
    margin-left: 20px;
    flex-grow: 1;

    @include mw(1000px) {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;

    }
  }

  @include mw(1000px) {
    margin-bottom: 80px;
  }
}

.office-container {
  max-width: 1212px;
  @include padding-left(4rem);
  @include padding-right(4rem);

  @include mw(1440px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.office-title {
  font-weight: 600;
  @include font-size(36px);
  margin-bottom: 40px;
  color: #FFFFFF;
}

.graph {
  @include padding-top(40px);
  @include padding-bottom(40px);
  display: flex;
  justify-content: center;
  background: #21212B;
  border-radius: 10px;


  &__wrap {
    max-width: 630px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #90969E;
    margin-bottom: 30px;
  }

  &__body {
    height: 310px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mw($ph) {
      flex-direction: column;
      align-items: flex-start;

    }
  }

  &__val {}

  &__buy {
    font-weight: normal;
    font-size: 16px;
    line-height: 70%;
    color: #FFFFFF;
    display: block;
    padding-top: 14px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #E0E3EE;
    text-align: center;
    flex-grow: 1;
    max-width: 200px;
    transition: opacity 0.3s;

    @include mw($ph) {
      width: 100%;
      max-width: none;
    }

    @include hocus() {
      opacity: 0.6;
    }
  }
}

.graph-val {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: center;

  @include mw(1200px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mw($ph) {
    margin-bottom: 10px;
  }

  &__title {}

  &__content {
    margin-left: 20px;
    display: flex;
    align-items: center;

    @include mw(1200px) {
      margin-left: 0;
      margin-top: 5px;
    }
  }

  &__sum {
    margin-right: 15px;
  }

  &__direct {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    padding: 2px 4px 2px 6px;
    border-radius: 2px;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-image: url("/img/svg/arrow-direct.svg");
      display: block;
      margin-right: 3px;
    }
  }
}

.direct {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  padding: 2px 4px 2px 6px;
  border-radius: 2px;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background-image: url("/img/svg/arrow-direct.svg");
    display: block;
    margin-right: 3px;
  }

  &--green {
    background-color: #5FD40F;
  }

  &--red {

    background-color: #FF5669;

    &::before {
      transform: rotate(180deg);
    }
  }
}

.my-program-right {

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #90969E;
    margin-bottom: 24px;
  }

  &__accordion {}

  &__accordion {}
}

.info-accordion {


  &__list {}

  &__item {
    border-radius: 10px;
    overflow: hidden;

    &+.info-accordion__item {
      margin-top: 24px;
    }
  }

  &__link {
    background-color: #272732;
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;

    @include mw($ph) {
      padding-left: 20px;
    }

    &[data-control]:after {
      border: 1px solid #3D3D49;
      background-image: url("/img/svg/arrow-info.svg");
      background-size: 6px 12px;
    }

  }
}

.info-accordion-link {

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #90969E;
    margin-bottom: 4px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.cont-accordion {

  &__list {
    border-bottom: none;
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: #21212B;
    border-top: 1px solid rgba(172, 175, 194, 0.2);

    @include mw($ph) {
      padding-left: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &+li {
      margin-top: 24px;
    }
  }

  &__term {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #90969E;
    margin-bottom: 4px;
  }

  &__description {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
  }

  &__direct {
    margin-left: 11px;
  }
}
