.programs {
  padding-top: 160px;

  &__inner {
    display: flex;
    position: relative;
    padding-bottom: 76px;
    background-image: url("/img/bank.png");
    background-repeat: no-repeat;
    background-position: bottom left;

    @include mw(1000px) {
      flex-direction: column;
      padding-bottom: 350px;
      background-position: bottom center;
    }

    @include mw($ph) {
      background-size: contain;
    }

    @include mw(412px) {
      padding-bottom: 270px;
    }
  }

  &__left {
    flex-grow: 1;

    @include mw(1000px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    @include font("Gilroy");
    font-size: 20px;
    line-height: 150%;
    color: #7A838D;
    max-width: 488px;

    @include mw(1000px) {
      max-width: none;
    }
  }

  &__right {
    max-width: 417px;
    width: 100%;
    padding-top: 159px;

    @include mw(1000px) {
      padding-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__list {
    margin-bottom: 50px;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.12) 92.19%);
    border-radius: 4px;
    color: $white;
    transition: opacity 0.3s;

    @include hocus() {
      opacity: 0.7;
    }
  }

  &__title-wrap {
    position: absolute;
    left: 45px;
    top: 0;

    @include mw(1000px) {
      position: static;
    }
  }
}

.container {

  &--programs {
    max-width: 1186px;
  }
}

.bonus {

  &__item {
    display: flex;
    align-items: center;

    &+li {
      margin-top: 40px;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 74px;
    height: 69px;
    background-image: url("/img/bonus.png");

  }

  &__text {
    font-weight: 600;
    @include font-size(24px);
    line-height: 105%;
    max-width: 254px;
    margin-left: 40px;
    letter-spacing: -0.04em;

    @include mw($ph) {
      margin-left: 20px;
      max-width: none;
    }
  }
}
