.promo {

  &__inner {}

  &__title-wrap {
    margin-bottom: 73px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    @include font-size(80px);
    line-height: 100%;
    letter-spacing: -0.03em;

    @include mw($tb) {
      font-size: 60px;
    }

    @include mw($ph) {
      font-size: 38px;
    }
  }

  &__video {}
}

.container {}

.video {

  &__wrap {
    height: 446px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    // flex-grow: 1;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1350px;
  }

  &__body {}

  &__btn {
    position: absolute;
    width: 262px;
    height: 262px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: 0.9s;

    @include hocus() {
      opacity: 0.9;
    }
  }
}

.video-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__body .vjs-big-play-button {
  top: 50%;
  left: 50%;
  width: 262px;
  height: 262px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  background-image: url('/img/video_btn.png');
  background-size: cover;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;

  @include mw($tb) {
    width: 180px;
    height: 180px;
  }

  @include mw($ph) {
    width: 150px;
    height: 150px;
  }

  & span {
    display: none;
  }
}

.video__body {
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: #37353E;
    mix-blend-mode: color;
  }
}

.vjs-paused .vjs-big-play-button {
  display: block;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: none;
}

.vjs-has-started .vjs-control-bar {
  display: none;
}
