footer.main-footer
  .main-footer__inner
    .main-footer__top
      a.footer__logo(href="#")
        +img-retina(`nav-logo`, `png`, `логотип`, `logo__img`, `141`, `21`)

    .main-footer__bottom
      .footer__nav-wrap
        nav.footer__nav.footer-nav--left
          a.footer-nav__link(href="https://mirmebely.ru/about/" target="_blank") О компании
          a.footer-nav__link(href="https://mirmebely.ru/catalog/" target="_blank") Каталог мебели
          a.footer-nav__link(href="https://mirmebely.ru/brand/" target="_blank") Бренды
        nav.footer__nav.footer-nav--right
          a.footer-nav__link(href="https://mirmebely.ru/sale/" target="_blank") Распродажа
          a.footer-nav__link(href="https://mirmebely.ru/promo/" target="_blank") Акции
          a.footer-nav__link(href="https://mirmebely.ru/contact/" target="_blank") Контакты

      .footer__copy.copy
        p ©
          |
          |
          span(data-actual-year) 2021
          |
          | Сеть салонов «Мир мебели» <br>Все права защищены
        p Дизайн и разработка
          a.copy__link(href="#")  Jet Marketing

  .footer__up.up
    a.up__link(href="#" aria-label="В начало")







    //- p.main-footer__copy © 2020
    //- a.main-footer__politic.hover-opacity(href="/politic.html") Политика конфиденциальности
