footer.main-footer(data-scroll data-scroll-repeat)
	.main-footer__inner.container
		.main-footer__top
			a.main-footer__logo(href="/index.html")
				+img-retina(`logo`, `png`, `логотип`, `main-footer__logo-img`, `200`, `63`)

			a.main-footer__up-link(href="#" aria-label="В начало")

		.main-footer__bottom.footer-bottom
			.footer-bottom__left
				a.main-footer__link.main-footer__politic.hover-opacity(href="/politic.html") Политика конфиденциальности
				a.main-footer__link.main-footer__agreement(href="/agreement.html") Согласие на обработку персональных&nbsp;данных
				a.main-footer__link.main-footer__pay(href="/payment.html") Оплата и возврат

			.footer-bottom__right.pay-sistem
				figure.pay-sistem-img.pay-sistem-img--viza
				figure.pay-sistem-img.pay-sistem-img--mir
				figure.pay-sistem-img.pay-sistem-img--mc
