//- .footer-down__inner.container
	p.footer-down__copy © 2021  «BTC trust»

	.footer-down__docs
		a.footer-down__link.hover-opacity(href="/payment.html" target="_blank") Оплата и возврат
		a.footer-down__link.hover-opacity(href="/offer.html" target="_blank") Договор оферта
		a.footer-down__link.hover-opacity(href="/politics.html" target="_blank") Политика конфиденциальности

	ul.footer-down__pay.pay
		li.pay__item.pay__item--visa
			//- +img(`visa`, `png`, `платеж`, `pay__img`, `46`)
		li.pay__item.pay__item--mc
			//- +img(`mc`, `png`, `платеж`, `pay__img`, `32`)
		li.pay__item.pay__item--mir
			//- +img(`mir`, `png`, `платеж`, `pay__img`, `53`)
