header.header#header(data-scroll data-scroll-sticky data-scroll-target=".page-body")
	.header__inner.container.container--header

		a.header__logo.logo(href="/index.html")
			+img-retina(`logo`, `png`, `логотип`, `logo__img`, `145`, `46`)

		a.header__user.private.link(href="/login.html")
			span.private__text Войти в личный кабинет
			span.private__icon
				+svg(`user`, `40`, '40', `private__svg`)(class="tablet-visibility")
