header.header#header
  .header__inner.container.container--header

    //- a.header__link-tel(href="tel:+73952265-705") +7 (3952) 265-705


    a.header__logo.logo(href="/index.html")
      +img-retina(`logo`, `png`, `логотип`, `logo__img`, `145`, `46`)

    //- nav.header__nav.nav#header-nav


      a.nav__logo(href="/index.html")
        +img-retina(`nav-logo`, `png`, `логотип`, `nav__logo-img`, `141`, `21`)

      ul.nav__list

        li.nav__item
          a.nav__link.anchor.menu-link(href='#consultation') консультация дизайнера интерьера

        li.nav__item
          a.nav__link.anchor.menu-link(href='#decor') декорирование интерьера

        li.nav__item.nav__item--down(data-accordion)
          a.nav__link.nav__link--down.nav__link--catalog(href='#' data-control)
            +svg('hamburger',14, 12,  'nav__link-hamburger')
            span  Каталог мебели
          ul.nav__list-sub.sub-list(data-content)
            each item in catalogItems
              li.sub-list__item
                a.sub-list__link(href=`${item[1]}` target="_blank" rel="noopener")= item[0]

        li.nav__item.nav__item__contacts
          a.nav__link(href='https://mirmebely.ru/about/' target="_blank") О компании


        li.nav__item.nav__item__contacts
          a.nav__link.anchor.menu-link(href='#contacts') контакты


        li.nav__item.nav__item--tel
          a.nav__link.nav__link--tel(href="tel:+73952265-705") +7 (3952) 265-705

      a.header__link.header__link--close(href="#header-nav")
        span.header__link-text Закрыть меню
        +svg(`menu-close`, 23, 23, `header__link-close`)

      a.nav__record.record-link.record-link--nav.anchor.menu-link(href="#record-1")
        +svg('record', '90', '49', 'record-link')
        span.record-link__text Заказать звонок



    //- a.header__link.header__link--open(href="#header-nav")
      span.header__link-text Открыть меню
      +svg('hamburger-mob',41, 24,  'header__link-open')

    //- a.header__link.header__link--close.hidden-link(href="#header-nav")
    //-   span.header__link-text Закрыть меню
    //-   +svg(`menu-close`, 23, 23, `header__link-close`)
