- let n = 0
- const favFolder = 'fav';


- const table_header_history_ref = [['Уровень','history__level','table-row__item--arr'],	['ID реферала','history__id','table-row__item--arr'],['Дата','history__date','table-row__item--arr'],['% от депозита','history__deposit'],['% от выплаты','history__pay'],['Вознагрождение','history__cash']]
