- let n = 0
- const favFolder = 'fav';


- const how = [['Зарегистрируйтесь на\u00A0сайте', 'Создайте аккаунт и подтвердите указанные вами данные'],['Выберите пакет инвестирования', 'Начните инвестировать'],['Получайте вознаграждение','Получайте пассивный доход и следите за статистикой']]

//- - let idForm = 0;
