- let n = 0
- const favFolder = 'fav';


- const how = [['Зарегистрируйтесь на\u00A0сайте', 'Создайте аккаунт и подтвердите указанные вами данные'],['Выберите пакет инвестирования', 'Начните инвестировать'],['Получайте вознаграждение','Получайте пассивный доход и следите за статистикой']]

- const bonus = ['Выплата от вложения приглашенного вами нового участника','Выплаты от\u00A0всех вложений вашей структуры','Выплата от\u00A0обьема вашей структуры']

- const news = ['','','','','','']

-const accordion = [['Что такое проект Finance Plus?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['Какие инструменты для заработка у проекта Finance Plus?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['Что такое пассивный доход?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['На чём я могу заработать в проекте Finance Plus?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['Существует ли ограничение по количеству пакетов инвестирования?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['Как быстро осуществляются выплаты?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.'],['Можно ли на один аккаунт зарегистрировать несколько пакетов инвестирования?','Пассивный доход – это вид заработка, не требующий активных действий. Зарегистрируйтесь на сайте Finance Plus, выберите пакет инвестирования, получайте вознаграждение.']]

- const tabs_item = ['до 20 000 $','до 30 000 $','до 40 000 $','до 50 000 $','от 50 000 $']

-const table_header_modal = [['Уровень',['level__head']],['% от вложений',['level__investment']],['% от выплаты',['level__pay']]]
