extends ../templates/_login.pug
include ../helpers/mixins.pug

block content



	section.exit.container
		form.exit__form.form-exit#exit-form.form(action="#" method="post" name="exit-form" autocomplete="off")
			fieldset.form-exit__field
				legend.form-exit__legend.size-1 Вход в личный кабинет

				.form-exit__box
					label.form-exit__label
						span Email
						input.form-exit__input.req(type="text" placeholder="Email" name="exit-form-email" required)

				.form-exit__box
					label.form-exit__label
						span Пароль
						input.form-exit__input.req(type="password" placeholder="Пароль" name="exit-form-pass" required)

			button.form-exit__btn.btn(type="submit") Войти
			a.form-exit__forget(href="/form-forget.html") Забыли пароль?
