extends ../templates/_login.pug
include ../helpers/mixins.pug

block content



	section.exit.container
		.exit__form.form-exit
			.form-exit__field
				h3.form-exit__legend.size-1 Восстановление пароля

				figure.form-exit__img-wrap




			p.form-exit__text Ссылка для восстановления пароля отправлена на ваш e-mail. Пожалуйста, проверьте почту.

			a.form-exit__btn.btn(href="/exit.html") Войти
