extends ../templates/_login.pug
include ../helpers/mixins.pug

block content



	section.exit.container
		form.exit__form.form-exit#registration-form.form(action="#" method="post" name="exit-form" autocomplete="off")
			fieldset.form-exit__field
				legend.form-exit__legend.size-1 Регистрация

				.form-exit__box
					label.form-exit__label
						span Email
						input.form-exit__input.req(type="text" placeholder="Email" name="exit-form-email" required)

				.form-exit__box
					label.form-exit__label
						span ФИО
						input.form-exit__input.req(type="text" placeholder="ФИО" name="exit-form-name" required)

				.form-exit__box
					label.form-exit__label
						span Телефон
						input.form-exit__input.req(type="text" placeholder="Телефон" name="exit-form-phone" required)

				.form-exit__box
					label.form-exit__label
						span Ваш кошелек BTC
						input.form-exit__input.req(type="text" placeholder="Ваш кошелек BTC" name="exit-form-btc" required)

				.form-exit__box
					label.form-exit__label
						span Реферальный код
						input.form-exit__input.req(type="password" placeholder="Реферальный код" name="exit-form-code" required)

			button.form-exit__btn.btn(type="submit") Зарегистироваться
			a.form-exit__forget(href="/form-login.html") Уже зарегистрированы?
