extends ../templates/_office.pug
include ../helpers/mixins.pug

block asside-active
	//- -const active = ;

block content
	section.my-program.office-container
		h2.my-program__title.office-title Статистика доходов

		.my-program__inner

			.my-program__left.graph
				.graph__wrap
					h3.graph__title Доходность ваших инвестиций
					.graph__body#chartContainer
					.graph__down
						.graph__val.graph-val
							span.graph-val__title Доходность:
							span.graph-val__content
								span.graph-val__sum 54 200 $
								span.graph-val__direct.direct.direct--green 7,00%

						a.graph__buy(href="/office-packages.html") Купить пакет

			.my-program__right.my-program-right
				.my-program-right__title Статистика дохода ваших пакетов инвестиций
				.my-program-right__accordion.info-accordion


					ul.info-accordion__list(data-accordion-group)
						while n  < 2
							- n++
							li.info-accordion__item.accordion(data-accordion)
								.info-accordion__link(data-control)
									span.info-accordion-link__title Пакет инвестирования:
									span.info-accordion-link__name= (n==1?'Пакет 365' :'Пакет 150')

								.my-program-right__cont.cont-accordion(data-content)
									ul.cont-accordion__list
										li.cont-accordion__item
											span.cont-accordion__term Cумма инвестиций
											span.cont-accordion__description 50 000$
										li.cont-accordion__item
											span.cont-accordion__term Дата подключения:
											span.cont-accordion__description 12.12.2021
										li.cont-accordion__item
											span.cont-accordion__term Доход текущий месяц:
											span.cont-accordion__description 1 000 $
												span.cont-accordion__direct.direct.direct--green 7,00%
										li.cont-accordion__item
											span.cont-accordion__term Доход за все время:
											span.cont-accordion__description 12 000 $
												span.cont-accordion__direct.direct.direct--red 7,00%
										li.cont-accordion__item
											span.cont-accordion__term До выплаты вознаграждения осталось:
											span.cont-accordion__description 14 дней 21 час 59 минут


						- n = 0
