extends ../templates/_office.pug
include ../helpers/mixins.pug

block asside-active
	-const active = 1;

block content
	section.packages.packages--investment.pt40
		.packages__inner.office-container
			h2.packages__title.packages__title--investment.title.office-title Пакеты инвестиций
			.packages__list(data-scroll data-scroll-speed="2")
				.packages__item.package
					.package__inner.package__inner--investment
						h3.package__title.package__title--investment Пакет 365
						p.package__text.package__text--investment Инвестиции на 1 год с ежемесячными выплатами процентов до 10% в месяц в зависимости от суммы инвестиции (от 1000$ - 1%, от 3000$ - 2% .. свыше 50 т.$ 10%). Тело возвращается в конце года.
						//- ul.package__list
							li.package__item
								span.package__money 1 000 – 2 999 $
								|
								| –
								|
								span.package__proc 8% в месяц
							li.package__item
								span.package__money 3 000 – 9 999 $
								|
								| –
								|
								span.package__proc 10% в месяц
							li.package__item
								span.package__money 10 000 – 19 999 $
								|
								| –
								|
								span.package__proc 12% в месяц
							li.package__item
								span.package__money 20 000 $
								|
								| –
								|
								span.package__proc 15% в месяц

						.package__range.range-box.range-box--investment
							span.range-box__title Сумма инвестиций:
							.range-box__content
								label.range-box__label(for="package-365")
									span.range-box__invest
										span.range-box__val.range-box__val--365 72 000
										|
										| %
									input.range-box__input#package-365(type="text" readonly)

									span.range-box__proc.range-box__proc--365
										//- span 15
										//- |
										//- | %

						.package__range.range-box.range-box--investment
							span.range-box__title Ваш доход составит:
							.range-box__content
								.range-box__label
									p.range-box__marga.range-box__marga--365
										span 130 500
										|
										| $
						a.package__link.package__link--investment(href="/form-registration.html") Инвестировать

				.packages__item.package
					.package__inner.package__inner--investment
						h3.package__title.package__title--investment Пакет 150
						p.package__text.package__text--investment Инвестиции на 150 дней с разовой выплатой вознаграждения в конце вместе с телом инвестирования. До 11% в месяц в зависимости от суммы инвестирования.
						//- ul.package__list
							li.package__item
								span.package__cash 1 выплата
								|
								| –
								|
								span.package__proc за 90 дней через 90 дней

							li.package__item
								span.package__cash 2 выплата
								|
								| –
								|
								span.package__proc через 120 дней за 30 дней

							li.package__item
								span.package__cash 3 выплата
								|
								| –
								|
								span.package__proc 150 дней за последние 30 дней

						.package__range.range-box.range-box--investment
							span.range-box__title Сумма инвестиций:
							.range-box__content
								label.range-box__label(for="package-150")
									span.range-box__invest
										span.range-box__val.range-box__val--150 72 000
										|
										| %
									input.range-box__input#package-150(type="text" readonly)



						.package__range.range-box.range-box--investment
							span.range-box__title Ваш доход составит:
							.range-box__content
								.range-box__label
									p.range-box__marga.range-box__marga--150
										span 129 600
										|
										| $
						a.package__link.package__link--investment(href="/form-registration.html") Инвестировать
