extends ../templates/_office.pug
include ../helpers/mixins.pug

block asside-active
	-const active = 3;

block content
	section.available.pt40
		.available__inner.office-container
			h2.available__title.title.office-title Доступные для вывода выплаты
			p.available__text На ваш криптокошелёк зачисляется биткоин в количестве и по стоимости, эквивалентной сумме выплаты

			.available__content
				.available__content-left.money
					.money__item.money__item--available
						.money__top
							.money__wrap
								h3.money__title За реферальную программу:
								.money__box.money-box
									span.money-box__sum 2000 $
									span.money-box__status доступно для вывода

					.money__item.money__item--notavailable
						.money__top
							.money__wrap
								h3.money__title За пакет 365:
								.money__box.money-box
									span.money-box__sum 5000 $
									span.money-box__status.money-box__status--not не доступно для вывода
						.money__bottom
							.money__wrap.money__wrap--bottom
								h3.money__title.money__title--bottom До получения вознагрождения:
								p.money__time.money-time
									span.money-time__days
										| 24
									|
									| дня
									span.money-time__hours
										|	12
									|
									| часов
									span.money-time__minutes
										| 20
									|
									| минут


				.available__content-right.available-right
					.available-right__inner.withdrawal
						form.exit__form.form-exit#exit-form.form.withdrawal__form(action="#" method="post" name="withdrawal-form" autocomplete="off")
							fieldset.form-exit__field
								legend.form-exit__legend.withdrawal__legend Внимательно введите ваши данные перед выводом вознаграждения

								.form-exit__box.withdrawal__box
									label.form-exit__label
										span.withdrawal__label Номер кошелька BTC
										input.form-exit__input.req(type="text" placeholder="5050 4040 3030 2020" name="withdrawal-btc" required)

								.form-exit__box.withdrawal__box
									label.form-exit__label
										span.withdrawal__label Сумма вывода $ *
										input.form-exit__input.req(type="password" placeholder="1000" name="withdrawal-money" required)

							button.form-exit__btn.btn.withdrawal__btn(type="submit") Вывести вознаграждение
							p.withdrawal__text нажимая на кнопку, вы подтвержаете согласие с договором оферты и политикой конфиденциальности

	section.history
		.history__inner.office-container
			h2.history__title.title.office-title История вывода

			.history__wrap
				.history__content.table.history-table
					.table__header.table-row.table-row--history.table-header.table-header--history
						each item in table_header_history
							.table-header__item.table-header__item--history.table-row__item.table-row__item--history(class= item[1] class=(item[2]? item[2]: ''))= item[0]


					while n  < 6
						- n++
						.table-row.table-row--history
							each elem,j in table_header_history
								if j === 0
									.table-row__item.table-row__item--history(class= elem[1]) 12.12.21
								if j === 1
									.table-row__item.table-row__item--history(class= elem[1]) 112224
								if j === 2
									.table-row__item.table-row__item--history(class= elem[1]) Выполнено
								if j === 3
									.table-row__item.table-row__item--history(class= elem[1]) 25,50$

					- n = 0
