extends ../templates/_document.pug
include ../helpers/mixins.pug

block content
	section.doc
		.doc__inner.container
			.doc__content
				h1 Порядок оплаты и вывода средств
				p
					| Оплата выбранной Программы участия, а также выплата Вам заработанных средств  осуществляется через Биткоин кошельки (ВТС кошельки).
				p
					| Биткоин кошелёк – это программа, которая позволяет покупать, продавать, хранить биткоин или передавать ее другим пользователям.
				p
					strong
						| При отсутствии у Вас Биткоин кошелька Вам необходимо выполнить следующие действия:
				ol
					li найти любой  Сервис через строку поиска в сети Интернет для создания кошелька;
					li
						| следуя рекомендациям Сервиса, осуществить регистрацию. После регистрации будет создан кошелёк, имеющий свой уникальный номер(адрес, код), состоящий из длинной цепочки цифр и латинских букв.
					li
						| пополнить баланс созданного кошелька для предстоящей оплаты, перевести в валюту, которая используется на Сайте FINANCE PLUS.
				p
					| Далее,
					strong для оплаты выбранной Вами Программы участия необходимо
					| :
				ol
					li скопировать номер кошелька с Сервиса, на котором зарегистрирован кошелёк;
					li вставить номер кошелька в строку «номер Вашего ВТС кошелька»;
					li заполнить строку «Ваше имя»;
					li заполнить строку «ваш  email»;
					li нажать «оплатить»;
					li проверить размер суммы - это стоимость выбранной Вами Программы участия;
					li
						| после совершения перевода нажать кнопку «Перевод совершен». Средства будут перечислены на кошелёк, номер которого указан на Сайте FINANCE PLUS по умолчанию;
					li
						| поступление оплаты проверяется Администратором Сайта в течение 24 (двадцати четырёх) часов с момента совершения перевода;
					li
						| после проверки Администратором и зачисления средств, на Ваш адрес электронной почты поступит уведомление об активации доступа в личный кабинет с указанием пароля для входа.
				p
					| Дальнейший вход в личный кабинет осуществляется через email, указанный Вами при оплате и пароль.
				p
					strong Для вывода средств необходимо выполнить следующие действия: 
				ol
					li в личном кабинете зайти в раздел «Вывод денежных средств»;
					li указать номер кошелька;
					li указать сумму к выводу;
					li нажать кнопку «Оставить заявку на вывод».
				p
					| После проверки заявки Администратором Сайта, средства в течение 24 – часов поступят на  указанный Вами Биткоин кошелёк.
				p
					| По всем возникающим вопросам Вы можете обратиться в чат поддержки пользователей или написать на адрес электронной почты
					a(href='mailto:contact@financeplus.su') contact@financeplus.su
					br
