doctype html
html(lang="ru")
  include ../modules/_head.pug

  body.page-body
    - var document = true
    include ../modules/_header.pug


    main.page-main
      block content

    include ../modules/_footer.pug

    include ../modules/_scripts.pug
