doctype html
html(lang="ru")
  include ../helpers/arrays
  include ../modules/_head
    include ../modules/_style

  body.page-body
    //- include ../helpers/arrays
    include ../modules/_header






    main.page-main
      block content


    include ../modules/_footer

    //- if modal_request
    //- include ../modules/_modal-request
    //- include ../modules/_modal-thanks



    //- include ../modules/_modal-request
    //- include ../modules/_modal-thanks
    //- include ../modules/_modal-case
    include ../modules/_scripts
