doctype html
html(lang="ru")
	include ../helpers/arrays
	include ../modules/_head
	block asside-power

	body.office-body(class=(power?`office-body--power`:``))

		block asside-active
		include ../modules/_office-asside

		.office-body__right
			header.office-header
				.office-header__inner.office-wide


					a.office-header__link-open(href="#office-header-nav")
						span Открыть меню
						+svg(`burger`,16,14, `office-header__icon-open`)

					a.office-header__link-close.hidden(href="#office-header-nav")
						span Закрыть меню
						+svg(`menu-close`,16,16, `office-header__icon-close`)

					a.office-header__logo.logo(href="index.html")
						figure.logo__img-wrap
							//- +img(`logo`, `png`, `logo`, `logo__img`, `107`)
							+img-retina(`logo`, `png`, `логотип`, `logo__img`, `126`, `40`)

					nav.office-header__nav#office-header-nav
						ul.office-header__list

							each val, i in link
								li.office-header__item.office-header__item--visible
									a.office-header__link(href=`${val[1]}` class=(active===i+1 ? `office-header__link--active` : ``))= val[0]

							li.office-header__item
								a.office-header__link.office-header__link--my(href="/office-my-data.html") Мои данные

							li.office-header__item.office-header__item--exit
								a.office-header__link.office-header__link--exit(href="/index.html") Выйти

			main.office-main
				block content

			footer.office-footer.footer-down
				include ../modules/_footer-down

		include ../modules/_scripts
